:root {
    /* colors */
    --white: #ffffff;
    --green: #333d29;
    --coffee: #43281c;
    --vanilla: #f1e3d3;
    --lemon: #fbf2c0;
    --mocha: #7f4f24;
    --tan: #ddb892;
    --blue: #3e80b6;
  
    /* fonts */
    --decorative: "Montserrat", sans-serif;
    --sans: "Open Sans", sans-serif;
  
    /* font scale */
    --base-size: 1.2rem;
    --scale: 1.25;
    --sm:calc(var(--base-size)/var(var(--scale)));
    --h6: var(--base-size);
    --h5: calc(var(--h6)*var(--scale));
    --h4: calc(var(--h5)*var(--scale));
    --h3: calc(var(--h4)*var(--scale));
    --h2: calc(var(--h3)*var(--scale));
    --h1: calc(var(--h2)*var(--scale));
    --lg: calc(var(--h1)*var(--scale));
    --xl: calc(var(--lg)*var(--scale));


    /* Generate sizes, element styles, and classes for h1, h2, h3, body. Generate sizes for h4-h6, a small size, and a large size (classes not needed, just variables).
    See https://codepen.io/jen4web/pen/KKGpKBM as an example */
  
    /* other variables */
    --radius: 5px;
  }
  
  /* add border box sizing to the page */
  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /* using the above variables and the HTML specified above, write CSS to style headings, text, links, images, figures, etc. */
  .SheetContainer{
    background-color: var(--vanilla);
    width: 100vw;
    height: 100%;
    line-height: 2;

  }
  header{
    background-color: var(--coffee);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    padding: 2rem 0rem;
    border-bottom: 20px double var(--tan);
  }
  header h1{
    color: var(--vanilla);
  }
  .fancy-text{
    background:linear-gradient(to left,var(--mocha),var(--tan));
    background-size: 100% 40%;
    background-repeat: no-repeat;
    background-position: 0 90% ;
  }

  .colors{
    width: 100%;
    height: 10%;
    display: flex;
    text-align: center;
    margin: 1rem;
    font-size: 1rem;
}
.colors *{
    display: inline-block;
    margin: 0rem .25rem;
}

  .white{
    background-color: var(--white);
    color: var(--coffee);
    width: 5rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .green{   
    background-color: var(--green);
    color: var(--vanilla);
    width: 5rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .coffee{   
    background-color: var(--coffee);
    color: var(--vanilla);
    width: 5rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .vanilla{   
    background-color: var(--vanilla);
    color: var(--coffee);
    width: 5rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px var(--coffee);
}
  .lemon{   
    background-color: var(--lemon);
    color: var(--coffee);
    width: 5rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .mocha{   
    background-color: var(--mocha);
    color: var(--vanilla);
    width: 5rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .tan{    
    background-color: var(--tan);
    color: var(--coffee);
    width: 5rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .blue{   
    background-color: var(--blue);
    color: var(--vanilla);
    width: 5rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    font-size: var(--sm);
    color: green;
}
a:hover{
  text-decoration: none;
}
figure{
    margin: 0;
}
img{
    border-radius:var(--radius);
    width: 100%;
}
figcaption{
    color: var(--coffee);
    font-size: .75rem;
}
/* .................................... */

h1,h2,h3,.h1,.h2,.h3{
  font-weight: 400;
  margin: 0;
}
h1,h2,h3,h4,h5,h6,p{
  color: var(--coffee);
}
h1,.h1{
font-size: var(--h1);
line-height: 1;
}
h2,.h2{
font-size: var(--h2);
line-height: 1.1;
}
h3,.h3{
font-size: var(--h3);
line-height: 1.2;
}
h4,.h4{
font-size: var(--h4);
}
h5,.h5{
font-size: var(--h5);

}
h6,.h6{
font-size: var(--h6);
}